body, textarea, pre {
    background-color: #073642;
    color: #839496;
    font-family: Verdana, Geneva, sans-serif;
}

textarea, #control-main, #topics {
    border: 5px solid #002b36;
    padding-left: 0.5em;
    border-top: 0;
    margin: 0 0 1em;
    height: calc(95vh - 8em);
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

input, button, select {
    background-color: #fdf6e3;
    color: #268bd2;
    border: 3px solid #002b36;
    padding: 2px 6px;
    border-radius: 8px;
}

button {
    font-weight: bold;
    cursor: pointer;
}

nav {
    background-color: #002b36;
}

.navitem {
    display: inline-block;
    text-align: center;
    background-color: #073642;
    margin: 0;
    border-top: 5px solid #002b36;
    border-bottom: 5px solid #002b36;
}

.navitem a {
    color: #b58900;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 0.8em;
    user-select: none;
}

.navitem a:hover {
    color: #859900;
    cursor: pointer;
}

.selected a {
    color: #859900;
}

.webcam {
    display: inline-block;
    resize: both;
    transform: rotate(180deg);
    min-width: 20em;
    min-height: 20em;
}

.subs {
    display: inline-block;
}

.subs button, #command-container button {
    margin: 2px;
    color: black;
}

:disabled {
    cursor: default;
    color: #586e75 !important;
}

.subs.on button, #start {
    background-color: #859900;
}

.subs.off button, #stop {
    background-color: #cb4b16;
}

#pause {
    background-color: #b58900;
}

footer form {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.helpmark {
    border: 1px solid #93a1a1;
    color: #93a1a1;
    border-radius: 50%;
    display: inline-block;
    width: 1.2em;
    text-align: center;
    background-color: #002b36;
}

.helpmark:hover {
    cursor: pointer;
}

#help, #help2 {
    font-family: "Lucida Console", Monaco, monospace;
    cursor: text;
    width: 31em;
    border: 0;
    line-height: 1.2;
}

.control {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    background-color: #002b36;
    float: left;
}

.control form {
    margin: 0;
}

.control input {
    width: 10.5em;
}

.control button {
    width: 5em;
}

.control div:first-child {
    float: left;
}

.control div:last-child {
    float: right;
}

.control b {
    text-align: center;
    display: block;
}

#time-container {
    float: right;
}

#env-container {
    text-align: center;
}

#env-number1, #env-number2, #env-number3 {
    width: 4em;
}

#cy, #control-groups {
    float: left;
    width: calc(50% - 3px);
    height: 100%;
    display: inline-block;
    overflow: auto;
}

#control-groups {
    border-right: 5px solid #002b36;
}

#control-main {
    padding: 0;
}