body, textarea {
    background-color: #073642;
    color: #839496;
    font-family: Verdana, Geneva, sans-serif;
}

textarea {
    border: 5px solid #002b36;
    padding-left: 0.5em;
    border-top: 0;
    margin: 0 0 1em;
}

input, button, select {
    background-color: #fdf6e3;
    color: #268bd2;
    border: 3px solid #002b36;
    padding: 2px 6px;
    border-radius: 8px;
}

button {
    font-weight: bold;
    cursor: pointer;
}

#output {
    width: 100%;
    height: calc(95vh - 8em);
    resize: none;
}

nav {
    background-color: #002b36;
}

.navitem {
    display: inline-block;
    text-align: center;
    background-color: #073642;
    margin: 0;
    border-top: 5px solid #002b36;
    border-bottom: 5px solid #002b36;
}

.navitem a {
    color: #b58900;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 0.8em;
}

.navitem a:hover {
    color: #859900;
    cursor: pointer;
}

.selected a {
    color: #859900;
}

.webcam {
    display: inline-block;
    resize: both;
    transform: rotate(180deg);
	min-width: 20em;
	min-height: 20em;
}

.subs {
    display: inline-block;
}

.subs button {
    margin: 2px;
    color: black;
}

.subs.on button {
    background-color: #859900;
}

.subs.off button {
    background-color: #cb4b16;
}

footer form {
    margin-top: 0.5em;
    margin-bottom: 0;
}

#helpmark {
    border: 1px solid #93a1a1;
    color: #93a1a1;
    border-radius: 50%;
    display: inline-block;
    width: 1.2em;
    text-align: center;
    background-color: #002b36;
}

#helpmark:hover {
    cursor: pointer;
}

#help {
    font-family: "Lucida Console", Monaco, monospace;
    cursor: text;
    width: 30em;
    border: 0;
    line-height: 1.2;
}

.control {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
	background-color: #002b36;
}

.control form {
    margin: 0;
}

.control input, .control button, .control select {
    width: 10em;
}

.control b {
    text-align: center;
    display: block;
}