body, textarea, pre {
    background-color: #073642;
    color: #839496;
    font-family: Verdana, Geneva, sans-serif;
}

textarea, #control-main, #topics {
    border: 5px solid #002b36;
    padding-left: 0.5em;
    border-top: 0;
    margin: 0 0 1em;
    height: calc(95vh - 8.5em);
    resize: none;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

#control-main {
    height: calc(95vh - 6em);
}

input, button, select, #tts {
    background-color: #fdf6e3;
    color: #268bd2;
    border: 3px solid #002b36;
    padding: 2px 6px;
    border-radius: 8px;
    margin: 0;
}

label {
    display: inline-block;
}

button {
    font-weight: bold;
    cursor: pointer;
}

footer button, footer input {
    margin-top: 2px
}

nav {
    background-color: #002b36;
    padding: 5px 5px 0;
}

nav div {
    display: inline-block;
    text-align: center;
    background-color: #073642;
    margin: 0 0 5px;
}

.navlink {
    color: #b58900;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 0.8em;
    user-select: none;
}

.navlink:hover {
    color: #859900;
    cursor: pointer;
}

.selected {
    color: #859900;
}

.webcam {
    display: inline-block;
    resize: both;
    transform: rotate(180deg);
}

.subs {
    display: inline;
}

.subs button, #command-container button {
    color: black;
}

:disabled {
    cursor: default;
    color: #586e75 !important;
}

.subs.on button, #start {
    background-color: #859900;
}

.started {
    color: #859900;
}

.subs.off button, #stop {
    background-color: #cb4b16;
}

.stopped {
    color: #cb4b16;
}

#pause {
    background-color: #b58900;
}

.paused {
    color: #b58900;
}

.helpmark {
    border: 1px solid #93a1a1;
    color: #93a1a1;
    border-radius: 50%;
    display: inline-block;
    width: 1.2em;
    text-align: center;
    background-color: #002b36;
}

.helpmark:hover {
    cursor: pointer;
}

#help, #help2 {
    font-family: "Lucida Console", Monaco, monospace;
    cursor: text;
    width: 31em;
    border: 0;
    line-height: 1.2;
}

.control {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    background-color: #002b36;
    float: left;
    text-align: center;
    width: calc(100% - 20px);
}

.control input {
    width: 10.5em;
}

.control button {
    width: 5em;
}

.control b, #command-container div, #tts + div {
    display: block;
}

.control label {
    display: block;
    line-height: 1.7em;
    text-align: justify;
}

.control label input {
    float: right;
}

#time-container {
    float: right;
    font-weight: bold;
    line-height: 2em;
}

#env-container {
    display: inline;
}

input[type=number] {
    width: 4em;
}

input[type=color] {
    height: 2em;
    vertical-align: bottom;
}

#cy, #control-groups {
    float: left;
    height: 100%;
    display: inline-block;
    overflow: auto;
}

#cy {
    width: calc(100% - 13em);
}

#control-groups {
    border-right: 5px solid #002b36;
    width: 12em;
}

#control-main {
    padding: 0;
}

#tts {
    height: 3em !important;
}

@media screen and (max-width: 990px) {
    #control-main {
        height: calc(95vh - 8em);
    }
}

@media screen and (max-width: 1120px){
    textarea {
        height: calc(95vh - 10em);
    }
}

@media screen and (max-width: 840px) {
    textarea {
        height: calc(95vh - 12em);
    }
}