body, textarea, pre {
    background-color: #073642;
    color: #839496;
    font-family: Verdana, Geneva, sans-serif;
}

textarea, #control-main, #topics {
    border: 5px solid #002b36;
    padding-left: 0.5em;
    border-top: 0;
    margin: 0 0 0.5em;
    height: calc(95vh - 8.5em);
    resize: none;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

#control-main {
    height: calc(95vh - 6em);
}

input, button, select, #tts, .newcheck {
    background-color: #fdf6e3;
    color: #268bd2;
    border: 3px solid #002b36;
    padding: 2px 6px;
    border-radius: 8px;
    margin: 0;
}

label {
    display: inline-block;
}

button {
    font-weight: bold;
    cursor: pointer;
}

footer button, footer input, footer select {
    margin-top: 2px
}

nav {
    background-color: #002b36;
    padding: 5px 5px 0;
}

nav::before,
nav::after {
  content: " ";
  display: table;
}

nav::after {
  clear: both;
}

nav div {
    display: block;
    text-align: center;
    background-color: #073642;
    float: left;
    margin: 0 5px 5px 0;
}

#nav-audio {
    float: right;
    margin-right: 0;
}

.navlink {
    color: #b58900;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 0.8em;
    user-select: none;
}

.navlink:hover {
    color: #859900;
    cursor: pointer;
}

.selected {
    color: #859900;
}

.webcam {
    display: inline-block;
    resize: both;
    transform: rotate(180deg);
}

.subs {
    display: inline;
}

.subs button, #command-container button {
    color: black;
}

:disabled {
    cursor: default;
    color: #586e75 !important;
}

#env-container :disabled {
	display: none;
}

.subs.on button, #start {
    background-color: #859900;
}

.started {
    color: #859900;
}

.subs.off button, #stop {
    background-color: #cb4b16;
}

.stopped {
    color: #cb4b16;
}

#pause {
    background-color: #b58900;
}

.paused {
    color: #b58900;
}

.helpmark {
    border: 1px solid #93a1a1;
    color: #93a1a1;
    border-radius: 50%;
    display: inline-block;
    width: 1.2em;
    text-align: center;
    background-color: #002b36;
}

.helpmark:hover {
    cursor: pointer;
}

#help, #help2 {
    font-family: "Lucida Console", Monaco, monospace;
    cursor: text;
    width: 31em;
    border: 0;
    line-height: 1.2;
}

.control-item {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    background-color: #002b36;
    float: left;
    text-align: center;
    width: calc(100% - 20px);
}

.control-item input {
    width: 10.5em;
}

.control-item button {
    width: 5em;
}

.control-item b, #command-container div, #tts + div {
    display: block;
}

.control-item label {
    display: block;
    line-height: 1.9em;
    text-align: justify;
}

.control-item label input, .control-item label select, .control-item label .newcheck {
    float: right;
}

#control table {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0 5px !important;
    width: calc(100% - 10px) !important;
}

#control th + th, #control td + td {
    border-left: 5px solid #073642;
}

#control th {
	padding-top: 5px;
    width: 50%;
}

#control td {
    padding-bottom: 5px;
    width: 50%;
}

#time-container {
    float: right;
    font-weight: bold;
    line-height: 2em;
}

#env-container {
    display: inline;
}

input[type=number] {
    width: 4em;
}

input[type=color] {
    height: 2em;
    vertical-align: bottom;
}

#cytoscape-container, #control-left {
    float: left;
    height: 100%;
    display: inline-block;
    overflow: auto;
}

#cytoscape-container {
    width: calc(100% - 20em);
}

#control-left {
    border-right: 5px solid #002b36;
    width: 19em;
}

#control-main {
    padding: 0;
}

#tts {
    height: 3em !important;
}

.newcheck {
    width: 1em;
    background-color: #cb4b16;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #cb4b16;
    user-select: none;
}

.control-item .newcheck {
    margin-top: 5px;
    line-height: initial;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .newcheck {
    background-color: #859900;
    color: black;
}

@media screen and (max-width: 990px) {
    #control-main {
        height: calc(95vh - 8em);
    }
}

@media screen and (max-width: 1120px){
    textarea {
        height: calc(95vh - 10em);
    }
}

@media screen and (max-width: 840px) {
    textarea {
        height: calc(95vh - 12em);
    }
}